<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>


<body>
<div class="container" th:object="${scores}" >
    <p th:unless="${testTakers} and ${testTakers.size()}">no job seekers took this test! :(</p>
    <p>To create a test, click <a href="/test/newtest"> here</a></p>
    <h1 th:text="${title}">Default Title</h1>
    <a th:each="instance : ${scores}" class="list-group">
        <h2>HI!</h2>
        <a class="list-group-item-heading"><p th:text="${instance.key.getEmail()}">keyvalue</p></a>
        <p th:text="${instance.value.getPersonalityScore()}">num</p>
        <p th:text="${instance.value.getConsistencyScore()}">num</p>
    </a>
</div>
<!--<footer th:replace="fragments :: footer"></footer>-->
</body>
</html>