<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>


<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>

<div class="container">
    <h1 th:text="${title}">Default Title</h1>
    <form method="post" style="max-width:600px;" th:object="${test}" id="myForm">
        <div th:each="question : ${test.getQuestions()}" class="list-group">
                <h2 th:text="${question.question1}" class="list-group-item-heading">User Display Name</h2>
                <div class="form-group">
                    <br></br>
                    <label th:for="desiredAnswer1">Desired Answer 1</label>
                    <br></br>
                    <input type="radio" th:value="1" /> Always True
                    <br></br>
                    <input type="radio" th:value="2" /> Mostly True
                    <br></br>
                    <input type="radio" th:value="3" /> Sometimes True Sometimes False
                    <br></br>
                    <input type="radio" th:value="4" /> Mostly False
                    <br></br>
                    <input type="radio" th:value="5" /> Always False
                    <br></br>
                </div>
        </div>
        <br></br>
        <input type="submit" value="Finish Test" />
    </form>
</div>
</body>
</html>