<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>


<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>

<div class="container">
    <h1 th:text="${title}">Default Title</h1>
    <form method="post" style="max-width:600px;" th:object="${test}" id="myForm">
        <div th:each="question, iter : ${newList}" name="questions" class="list-group">
                <h2 th:text="${question.question1}" class="list-group-item-heading">User Display Name</h2>
                <div class="form-group">
                    <br></br>
                    <label th:for="desiredAnswer1">Desired Answer 1</label>
                    <br></br>
                    <!--maybe put div for each hidden input?-->
                    <!--iter. index is so that each name is different, so we can click one button per question.-->
                    <input
                            type="radio"
                            th:name="'userAnswer' + ${iter.index}"
                            th:value="1"
                            th:attr = "data-question-id=${question.id}"

                            /> Always True
                    <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                    <input type="hidden" th:name="userAnswer" th:value="1" class="userAnswers"/>
                    <br></br>
                    <input
                            type="radio"
                            th:name="'userAnswer' + ${iter.index}"
                            th:value="2"
                            th:attr = "data-question-id=${question.id}"
                    />  Mostly True
                    <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                    <input type="hidden" th:name="userAnswer" th:value="2" class="userAnswers" />
                    <br></br>
                    <input
                            type="radio"
                            th:name="'userAnswer' + ${iter.index}"
                            th:value="3"
                            th:attr = "data-question-id=${question.id}"
                    />  Sometimes True Sometimes False
                    <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                    <input type="hidden" th:name="userAnswer" th:value="3" class="userAnswers"/>
                    <br></br>
                    <input
                            type="radio"
                            th:name="'userAnswer' + ${iter.index}"
                            th:value="4"
                            th:attr = "data-question-id=${question.id}"
                    /> Mostly False
                    <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                    <input type="hidden" th:name="userAnswer" th:value="4" class="userAnswers"/>
                    <br></br>
                    <input
                            type="radio"
                            th:name="'userAnswer' + ${iter.index}"
                            th:value="5"
                            th:attr = "data-question-id=${question.id}"
                    />  Always False
                    <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                    <input type="hidden" th:name="userAnswer" th:value="5" class="userAnswers"/>
                    <br></br>
                </div>
        </div>


        <div th:each="question2, iter : ${currentMatchingTestQuestions}" name="questions" class="list-group">
            <h2 th:text="${question2.question2}" class="list-group-item-heading">User Display Name</h2>
            <div class="form-group">
                <br></br>
                <label th:for="desiredAnswer1">Desired Answer 1</label>
                <br></br>
                <!--maybe put div for each hidden input?-->
                <!--iter. index is so that each name is different, so we can click one button per question.-->
                <input
                        type="radio"
                        th:name="'userAnswerr' + ${iter.index}"
                        th:value="1"
                        th:attr = "data-question-id=${question2.id}"

                /> Always True
                <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                <input type="hidden" th:name="userAnswer" th:value="1" class="userAnswers"/>
                <br></br>
                <input
                        type="radio"
                        th:name="'userAnswerr' + ${iter.index}"
                        th:value="2"
                        th:attr = "data-question-id=${question2.id}"
                />  Mostly True
                <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                <input type="hidden" th:name="userAnswer" th:value="2" class="userAnswers" />
                <br></br>
                <input
                        type="radio"
                        th:name="'userAnswerr' + ${iter.index}"
                        th:value="3"
                        th:attr = "data-question-id=${question2.id}"
                />  Sometimes True Sometimes False
                <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                <input type="hidden" th:name="userAnswer" th:value="3" class="userAnswers"/>
                <br></br>
                <input
                        type="radio"
                        th:name="'userAnswerr' + ${iter.index}"
                        th:value="4"
                        th:attr = "data-question-id=${question2.id}"
                /> Mostly False
                <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                <input type="hidden" th:name="userAnswer" th:value="4" class="userAnswers"/>
                <br></br>
                <input
                        type="radio"
                        th:name="'userAnswerr' + ${iter.index}"
                        th:value="5"
                        th:attr = "data-question-id=${question2.id}"
                />  Always False
                <!--<input type="hidden" th:value="${question.id}" name="questionId" />-->
                <input type="hidden" th:name="userAnswer" th:value="5" class="userAnswers"/>

            </div>


        </div>    <br></br>

        <br></br>
        <input type="submit" value="Finish Test" id="button"/>
        <input type="hidden" th:name="allAnswers" id="allAnswers"/>
        <input type="hidden" th:name="allMatchingAnswers" id="allMatchingAnswers"/>

        <input type="hidden" th:name="questionIds" id="questionIds"/>
        <input type="hidden" th:name="questionIds2" id="questionIds2"/>

    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/JS/form.js}" />
<footer th:replace="fragments :: footer"></footer>
<!--<script type="text/javascript" th:inline="javascript">-->

    <!--const selectedAnswers = []-->
    <!--var button = document.getElementByClass("userAnswers");-->

    <!--if(button.checked){-->
    <!--("[(${n})]");-->
    <!--}-->

<!--</script>-->
</html>