<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body style="max-height: 100vh; display: flex; flex-flow: column;
  justify-content: space-between">


<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>

<div th:object="${userAnswers}">
    <h1 th:text="'Test Answers by ' + ${user.email}">Default Title</h1>
    <table border="1" class="table">
        <tr>
            <th>Question</th>
            <th >Desired Answer</th>
            <th >Actual Answer</th>
            <th >Matching Question</th>
            <th >Desired Matching Answer</th>
            <th >Actual Matching Answer</th>


        </tr>
        <tr th:each="answer : ${userAnswers}">
            <td th:text="${answer.getQuestion().getQuestion1()}">A Question</td>
            <td th:text="${answer.getQuestion().getDesiredAnswer1()}"></td>
            <td th:text="${answer.getAnswer()}"></td>

            <td th:text="${answer.getQuestion().getQuestion2()}">A Question</td>
            <td th:text="${answer.getQuestion().getDesiredAnswer2()}"></td>
            <td th:text="${answer.getMatchingAnswer()}"></td>


        </tr>
    </table>
</div>

</body>

<!--<script type="text/javascript" th:inline="javascript">-->

<!--const selectedAnswers = []-->
<!--var button = document.getElementByClass("userAnswers");-->

<!--if(button.checked){-->
<!--("[(${n})]");-->
<!--}-->

<!--</script>-->
</html>